body {
  background: rgb(0, 0, 59);
}

#title-card {
  background: rgb(99, 167, 231);
  font-weight: bold;
}

#input-card {
  background: magenta;
  color: white;
}
#add-actor {
  width: 300px;
  margin-left: 405px;
  
}
#submit {
  background: rgb(99, 167, 231);
  font-weight: bold;
  margin: 0.25em;
}
.btnActor {
  background: magenta;
  color: white;
  margin: 0.25em;
  width: 10em;
}
#gif-card {
  background: rgb(99, 167, 231);
  border: rgb(99, 167, 231) solid 3px;
}
.card-footer {
  padding: 0.15em;
}
#image {
  width: 900px;
}
